<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-12-23T15:23:58Z</date>
	<key>WorkspacePath</key>
	<string>/Users/arc/Desktop/POC/GitHub/CICDDemo/FriendListDemo.xcworkspace</string>
</dict>
</plist>
